body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
    padding: 0 0 0 20px;
    margin: 15px;
}

main {
    margin: 2em 0;
}

.encoder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.encoder__message {
    width: 90vw;
    height: 50vh;
    font-size: 1.5em;
    background-color: #F3F5FC;
    color: #0A3871;
    padding: 20px;
    box-shadow: 0px 0px 11px 1px #00000024;
    border-radius:	10px;
    border: none;
}

.encoder__message::placeholder {
    color: #0A3871;
    font-weight: 400;
    text-align: top;
}

.encoder__message:focus {
    border: 2px solid #0A3871;
    outline: white;
}

.encoder__warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    gap: 8px;
    width: 90vw;
}

.alert {
    width: 20px;
    height: 20px;
}

.warning {
    color: #495057;
    font-size: 0.75em;
}

.encoder__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.encoder__btns > button {
    padding: 1em;
    border-radius: 24px;
    width: 90vw;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}

.encode {
    color: #ffffff;
    background-color: #0A3871;
    border: 1px solid #0A3871;
}

.decode {
    border: 1px solid #0A3871;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90vw;
    margin: 30px 24px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 24px;
}

.display__img {
    display: none;
}

.display > h2, .display > p {
    text-align: center;
}

.display__txt {
    color: #495057;
}

@media screen and (min-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    header {
        width: 80vw;
        margin: 0;
    }
    
    main {
        display: flex;
        flex-direction: row;
        width: 80vw;
        gap: 1rem;
    }


    .encoder__message {
        width: 60vw;
    }

    .encoder__warning {
        width: 60vw;
    }

    .encoder__btns {
        flex-direction: row;
    }

    .encoder__btns > button {
        width: 30vw;
    }

    .display {
        width: 20vw;
        margin: 0;
        padding: 2rem 1rem;
    }
    
    .display-show {
        padding: 2rem 2.5rem;
        justify-content: flex-start; 
        align-items: flex-start;
        color: #0A3871;
    }

    .display__txt {
        resize: both;
        text-overflow: clip;
    }

    .display__img {
        display: block;
        width: 200px;
    }
}